[Unit]
Description=livestream.a.video
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart=/usr/bin/node server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target