body{
  width: 100%;
  margin:auto;

}

.header {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  color: #FFFFFF;
  background-image: linear-gradient(#FC601A, #FD8B25)
  
  }
.formPadding{
 padding: 20px;
 margin: auto;
}
  
  
.form {
  margin: auto;
  font-size: 25px;
  text-align: center;
  width: 50%;
  background: #fff;
  padding: 20px;
 
  
}
input[type=text] {
  -webkit-appearance: none; -moz-appearance: none;
  margin: auto;
  width: 25%; height: 40px;
  line-height: 40px;font-size: 25px;
  
}
input[type=radio] {
 width: 25px; height: 25px;
 -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;
 border: 1px solid #bbb;
}
input[type=checkbox] {
 width: 25px; height: 25px;
 -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;
 border: 1px solid #bbb;
}
button{
  font-size: 17px;
    display: block;
    padding: 20px;
    font-weight: bold;
    height: 2.5em; width: 50%;
    border: 1px solid #bbb;
    -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
   }

.input{
  margin: auto;
  width: 75%;

}
.video{
  width:75%;
  margin: auto;
 
}
#output_console{
  width:100%;
}
#footer{
  font-size: large;
  color: black;
  padding:10px;
}